<div class="container login-container" data-aos="fade-down">

  <!--Form login-->
  <div *ngIf="!(completeAuth$ | async) && !(isLoading$ | async)">
    <form novalidate [formGroup]='loginForm' (ngSubmit)="onSubmit()">

      <div class="row mb-2">
        <div class="col-12 d-flex justify-content-center">
          <p id="login-label" class="orange-border-bottom">
            Login
          </p>
        </div>
      </div>

      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput formControlName='email' placeholder="Email">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput formControlName='password' placeholder="Password">
        </mat-form-field>

        <!--errors-->
        <div *ngIf="hasError$ | async">
          <p style="color: red">
            Login or password is invalid!
          </p>
        </div>

        <mat-checkbox formControlName='rememberMe' style="color: chocolate;">Remember me?</mat-checkbox>

      </mat-card-content>

      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
          <button mat-button color="primary" [disabled]="!loginForm.valid">Log in</button>
        </div>
      </div>
    </form>
  </div>
  <!-- end form login-->

  <div>
    <div class="row" *ngIf="(isLoading$ | async)">
      <div class="col-12 d-flex justify-content-center">
        <mat-spinner></mat-spinner>
      </div>
    </div>

    <div class="row" *ngIf="completeAuth$ | async">
      <div class="col-12 d-flex justify-content-center">
        <span>Success!</span>
      </div>
    </div>
  </div>

</div>
