@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  mat-form-field {
    display: block;
  }

.mat-button {
    background-color: rgb(63, 81, 181);
    line-height:54px;
    width: 100%;
    color: white;
}

#telNimber {
  margin-top: 1em;
  margin-bottom: 2em;
}

.img-successful{
  height: 150px;
  width: 150px;
}

.message-succesful {
  text-align: center;
}

.message-succesful p {
  font-family: Yanone Kaffeesatzm; 
  font-weight: 400; 
  font-size: 30px;
}