  <div class="container login-container" data-aos="fade-down">

    <form novalidate [formGroup]='loginForm' (ngSubmit)="onSubmit()">

      <div class="row mb-2">
        <div class="col-12 d-flex justify-content-center" style="font: 'Josefin Sans', sans-serif; font-size: 180%;">
          <p class="orange-border-bottom">
            Login
          </p>
        </div>
      </div>

      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput formControlName='username' placeholder="Username">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput formControlName='password' placeholder="Password">
        </mat-form-field>

        <mat-checkbox formControlName='rememberMe' style="color: chocolate;">Rememver me?</mat-checkbox>
      </mat-card-content>

      <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
          <button mat-button color="primary" [disabled]="!loginForm.valid">Log in</button>
        </div>
      </div>
    </form>

  </div>