<section style="position: relative;">
    <div class="parallax-1">
        
    </div>

    <div class="overlay"></div>

    <div class="container-fluid text-center text-white" style="position: absolute; top: 280px;">
        <div class="row justify-content-center">
            <div class="col-10">
                <h3>Our computer service is a place where you will always be helped!</h3>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid text-center mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 data-aos="zoom-in">Why us?</h3>
            <p class="mt-4" data-aos="zoom-in">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit dolor, laoreet in blandit nec, posuere et ligula. Aliquam nibh leo, porttitor in erat in, auctor mollis ligula. Phasellus arcu tortor, blandit vel dolor id, lobortis euismod turpis. Aliquam accumsan mauris ante, eu egestas nunc malesuada vel. Donec vestibulum odio nibh, in viverra tellus gravida id. Nam arcu dolor, interdum eget massa non, commodo tincidunt sapien. Curabitur nec dapibus felis. Cras eget enim sem. Fusce a dolor metus. Duis finibus mauris in luctus ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a sapien lectus. Ut id rhoncus erat, ut tincidunt lacus.
            </p>
        </div>
    </div>
</div>

<!-- <div class="row">
        <div class="col-12">
            <p>{{data}}</p>
            <div fxFlex [hidden]="data || getDataError">
                <mat-spinner><h4>Loading...</h4></mat-spinner>
            </div>
        </div>
    </div> -->

<section style="position: relative;">
    <div class="parallax-2"></div>
    <div class="overlay"></div>
</section>

<div class="container-fluid text-center mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 data-aos="zoom-in">Still in doubt?</h3>
            <p class="mt-4" data-aos="zoom-in">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit dolor, laoreet in blandit nec, posuere et ligula. Aliquam nibh leo, porttitor in erat in, auctor mollis ligula. Phasellus arcu tortor, blandit vel dolor id, lobortis euismod turpis. Aliquam accumsan mauris ante, eu egestas nunc malesuada vel. Donec vestibulum odio nibh, in viverra tellus gravida id. Nam arcu dolor, interdum eget massa non, commodo tincidunt sapien. Curabitur nec dapibus felis. Cras eget enim sem. Fusce a dolor metus. Duis finibus mauris in luctus ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a sapien lectus. Ut id rhoncus erat, ut tincidunt lacus.
            </p>
        </div>
    </div>
</div>