<mat-toolbar color="primary">
    <!-- <span><img src="/assets/images/logo.png" height=30 width=41></span> -->
    <h1 class="logo">Computer Shop</h1>
    <span class="menu-spacer"></span>
    <a mat-button routerLink='/home' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
    <span class="flex-spacer"></span>


    <div *ngIf='!isLoggedIn'>
        <button mat-button routerLink='/login'>
            <mat-icon>login</mat-icon>
            Login
        </button>

        <button mat-button routerLink='/signin'>
            <mat-icon>login</mat-icon>
            Sign In
        </button>
    </div>
    

    <button *ngIf='isLoggedIn' mat-button (click)="logout()">
        <div>
            {{userName}}
        </div>

        <mat-icon>power_settings_new</mat-icon>
        Logout
    </button>
  </mat-toolbar>
