$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #2b29a3;
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: $background-moredark;
}

.logo {
    margin-right: 10px;
}

.transparent.scrolled {
    background: #2D2D2D;
  }

  .transparent {
    transition: 750ms ease;
  }

  .navbar-nav a {
      color: white;
  }

  .navbar-brand {
      color: white;
  }

  .navbar-nav a:hover {
    border-bottom: 3px solid orange;
  }

  .navbar-nav a.active {
    border-bottom: 3px solid orange;
    background-color: transparent;
  }